#fdgglkjddgj
#*
#!*/
#!*istory*
*/
OLD
ntuser.*
NTUSER.*
.Rproj.user

*.*
!.*
!*.sh
!*.txt
!*istory*


!OneDrive/

!OneDrive/*/

!OneDrive/*/*/

!OneDrive/*/*/*/

!OneDrive/*/*/*/*/

!OneDrive/*/*/*/*/*/

!OneDrive/*/*/*/*/*/*/

#!OneDrive/*/*/*/*/*/*/*/

OneDrive/Obr*/

OneDrive/alm*/
