[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Martin Milan
	email = 104933785+Martin-Milan@users.noreply.github.com

[core]
	autocrlf = input
